* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero-container {
  background-image: url(top_logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 4rem;
}
