* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 2.5rem;
  padding: 2rem 0 1rem 0;
}

/* Navbar Menu */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: relative;
  background: black;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-container a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}

.logo-container img {
  width: 30px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 10;
  position: relative;
}

.hamburger-menu span {
  width: 28px;
  height: 3px;
  background-color: white;
  display: block;
  transition: all 0.3s ease;
  transform-origin: center;
  margin: 5px 0;
}

#menu-toggle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.nav-links-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  display: none;
  z-index: 10;
}

.nav-links-container ul {
  flex-direction: column;
  list-style: none;
  padding: 1rem 0;
  gap: 1rem;
  display: flex;
  align-items: center;
}

.nav-links-container a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

/* When hamburger is clicked (menu is checked),  */
#menu-toggle:checked ~ .nav-links-container {
  max-height: 200px;
  display: block;
}

#menu-toggle:checked + .hamburger-menu span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#menu-toggle:checked + .hamburger-menu span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .hamburger-menu span:nth-child(3) {
  transform: rotate(-45deg) translate(14px, -14px);
}

/* Hero Section */

.hero-container {
  background-image: url(top_logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.hero {
  position: relative;
  color: white;
  padding: clamp(1.5rem, 5vw, 4rem);
  z-index: 2;
}

.hero h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.hero p {
  font-size: 1.8rem;
}

/* Now Showing Section */
.now-showing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #f7f7f7, #ffffff);
  padding: 3rem 0;
}

.now-showing-section p {
  font-size: 1.4rem;
  width: 80%;
  margin: 2rem 0;
}

.now-showing-section h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.now-showing-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.now-showing-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.now-showing-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
}

.now-showing-card img {
  height: auto;
  width: 100%;
}

.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #e50914;
  color: white;
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  border-radius: 6px;
  font-weight: 600;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.3);
}

/* Guidelines Section */
.guidelines-section {
  /* background: linear-gradient(to bottom, #000, #111); */
  color: white;
  z-index: 2;
  position: relative;
}

.guidelines-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0;
  background-image: url(big-screen.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.guidelines-container > * {
  position: relative;
  z-index: 1;
}

.guidelines-container h2 {
  color: white;
}

.guidelines-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 1rem;
  width: 75%;
  z-index: 1;
}

.guidelines-card i {
  font-size: 2.5rem;
  margin-right: 3rem;
  margin-left: 1rem;
  color: black;
}

.guidelines-card h4 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: black;
}

.guidelines-card ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  color: black;
  font-size: 1.3rem;
}

.guidelines-card li {
  position: relative;
  padding-left: 1.6rem;
  margin-bottom: 0.6rem;
  line-height: 1.5;
}

.guidelines-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

/* Custom arrow */
.guidelines-card li::before {
  content: "➜";
  position: absolute;
  left: 0;
  top: 0.15rem;
  color: #e50914;
  font-weight: bold;
}

/* ========== Snack Bar ========== */
.food-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0;
  padding-bottom: 5rem;
  gap: 2rem;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
  position: relative;
}

.food-container h2 {
  color: white;
}

.food-section {
  background-image: url(popcorn.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.food-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  border-radius: 12px;
}

.dropdown i {
  text-shadow: -1px -5px 6px rgba(0, 0, 0, 0.43);
}

.dropdown-toggle {
  display: none;
}

.dropdown-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  flex-direction: 1 1 200px;
}

.dropdown-icon i {
  padding: 1.5rem;
  display: inline-block;
  transition: transform 0.5s ease;
  transform: rotate(0deg);
}

.dropdown-menu {
  top: 100%;
  right: auto;
  left: 0;
  width: 0;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  white-space: nowrap;
  list-style: none;
  /* padding: 0.5rem 0; */
  border-radius: 8px;
  min-width: 100%;
  text-align: left;
  z-index: 5;
  display: flex;
  flex-direction: column;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu a {
  display: block;
  padding: 0.6rem 1rem;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease;
  font-size: 1.5rem;
  text-shadow: 2px 3px 3px black;
}

.dropdown-menu a:hover {
  background-color: #444;
  color: white;
}

.dropdown-toggle:checked ~ .dropdown-menu {
  max-height: 500px;
  opacity: 1;
  padding: 0.5rem 0;
}

.dropdown-toggle:checked + .dropdown-icon i {
  transform: rotate(180deg);
  transition: transform 0.8s ease;
}

/* Directions */
.map-section h2 {
  text-align: center;
}

/* Code extracted */
/* background: linear-gradient(
    135deg,
    rgba(255, 183, 77, 0.55),
    rgba(255, 152, 0, 0.55)
  ); */
